@-moz-document url-prefix() {
	#div_on span {
		right: 46% !important;
	}
	
	select {
		padding-top: 5px;
	}
	
	.timeEntry-control {
		height: 20px !important;
		margin-left: 2px;
		position: absolute;
		right: 1%;
		top: 24%;
		vertical-align: middle;
		width: 15px !important;
	}
	
	#id_load_schedule , #id_all_nfr,
			#id_all_ifr{ 
			margin-top:0% !important;
		}
}