/* ie styles */
#id_log_date_search, #id_log_date {
	background: white url('../media/ico_calendar.png') right no-repeat;
	padding-right: 0px;
}
.sub_form .per33 select {
padding: 0px;
padding-left: 3%;
height:28px;
width: 45%;
}
input, select {
/* padding-left: 0px; */
/* width: 48%; */
}

.sub_form .per333>span {
width: 46%;
margin-top: 5px;
margin-right: 2%;
}

.err {
padding-right: 46px;
font-size: 12px;
/* width: 49%; */
}

.error-line .line1, .error-line .line2, .error-line .line3 {
padding-left: 16.3%;
}
.k-widget, .k-dropdown, .k-header  {
	width: 48.5% !important;
}
.k-dropdown-wrap .k-state-default .k-state-focused{
	width: 86% !important;
}
#login input {
	border: border:0px !important; outline-style:none!important;
	padding-left: 0px;	
	margin-top: 0% !important;
}

#form_email_popup .line input { width: 85% !important; }
input {
	min-height: 20px;
	padding-left: 3%;
	width: 40%;
	border: 1px solid #C6C6C6;
	border-radious: 3px;
	outline: none;
	padding-top: 8px;
	margin-top: -2px;
	height:20px;
}

.popup_main input{
	width: 50.2% !important;
}

.popup_main #id_flight_data_range_from, .popup_main #id_flight_data_range_to{
	width: 16.5% !important;
}
#id_on {
	padding-top: 4%;
	margin-top: 0%;
}

#id_off{
	padding-top: 8%;
	margin-top: 0%;
}

.timeEntry-control{
	right: -9%;
}

#id_employee_number, #id_password{
	padding-top: 5% !important;
	padding-left: 5% !important;
}
#id_log_date{
	width:45% !important;
}
body{
	height: auto;
}
input[type=checkbox]{
	border: none !important;
	padding-left: 0px;	
	margin-top: 0% !important;
}
