<!--[if IE]><!doctype html><![endif]-->
{% load dajaxice_templatetags %}
{% load static from staticfiles %}
<html>
<head>
{% dajaxice_js_import %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Login</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/main.js"%}"></script>
<link type="text/css" rel="stylesheet" href="{% static "css/styles.css"%}">
<!--[if IE]><link type="text/css" rel="stylesheet" href="{% static "css/styles_ie.css"%}"><![endif]-->

</head>
<body>
	<div class="center-logo"><img src="{% static 'img/logo.png' %}" alt="logo" /></div>
	
	<div class="account_main clearthis">
		
		
		<div class="main_content clearthis">
		<div class="title">Flight Log</div>
			<form class="content_center register_form" id="login" name="login" action="" method="post"  onsubmit="return validateLoginForm();">
				{% csrf_token %}
				<div class="hiline">					
					<input id="id_employee_number" type = "text" name = "employee_number"  maxlength="75" 
						
						{% if form.employee_number.errors %}
							value="{% spaceless %}{% for error in form.employee_number.errors %}
					        	{{ error }}
					    	{% endfor %}{% endspaceless %}"
					    	
					    	style="color: #c2192a; border:1px solid red;"
						{% elif form.employee_number.value %} 
							value="{{ form.employee_number.value }}"
						{% elif request.COOKIES.usname %}
							value = "{{ request.COOKIES.usname }}"
						{% endif %}  
						 />
						
					<div id="over_id_employee_number" class="over_hidden"
					{% if form.employee_number.errors or form.password.errors or request.COOKIES.usname %}
							style="display:none;"
						{% endif %}
						>Employee Number</div>
					<div class="icon_hiden_en" ></div>
				</div>
				<div class="hiline">
					<input id="id_password"  maxlength="10" name = "password"
						{% if form.password.errors %}
							type="text"
							value="{% spaceless %}{% for error in form.password.errors %}
					        	{{ error }}
					    	{% endfor %}{% endspaceless %}"
					    	style="color: #c2192a; border:1px solid red;"
					    {% elif request.COOKIES.password %}
					    	type = "password"
							value = "{{ request.COOKIES.password }}"
					    {% else %}
					    	type = "password"
						{% endif %}  
					/>
					<div id="over_id_password" class="over_hidden"
					{% if form.password.errors or request.COOKIES.password %}
							style="display:none;"
						{% endif %}
					
					>Password</div>
					<div class="icon_hiden_pass"></div>
				</div>				
				<div style="float: left;">
					<input class="remember" type = "checkbox" name = "remember"></input>
					<label style="font-size: 15px;">Remember me</label>
				</div>

				<div class="line">
						<button class="btn_default_flight_log last_margin btn_register" type="submit" >Login into Your Account</button>
					</div>
					
					
				
			</form>	
			<div class="login_footer"></div>
		</div>	
		
	</div>
	 <!--  end if not request.session.usname -->
	
</body>
</html>