{% extends "base.html" %} 
{% block title %}Home page{% endblock %} 
{% block content %}
	<div class="main clearthis">		
		<div class="main_content clearthis">
			<div class="form_title"><img src="/static/img/ico_-title.png" style="vertical-align: middle;">
				<span style="margin-left: 10px;">Submitted Flight Log</span>
			</div>
			<div id="er_search" class="err"></div>
			<div class="his_content_center">
				{% if messages %}
					<ul class="messages">
					    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					        	{{ message }}
					    </li>
					    {% endfor %}
					</ul>
				{% endif %}	
				<form name="search_form" id="search_form" onsubmit="return search_function(1, 1)">
					<div class="sub_form">
						<div class="title title1" style="width: 5%;">Search</div>
					<div class="clearthis min-32">
						<div class="per33">
							<span>Log Number</span>
							{{form.log_number}}
							<div id = "err_log_number" class = "error_id_mess" 
								style = "color: red;
								font-size: smaller;
								float: left;
								min-height: 3%;
								margin-bottom: -2%;
								margin-left: 43.6%;">
							</div>
						</div>
						<div class="per33">
							<span>Model</span>
							{{form.model}}
						</div>
						<div class="per33">
							<span>A/C #</span>
							{{form.a1c}}
						</div>
					</div>
					
					<div class="clearthis min-32">
						<div class="per33">
							<span>Customer</span>
							{{form.customer}}
						</div>
						<div class="per33">
							<span>Date</span>
							<input type="text" id="id_log_date_search" name="log_date" onchange="valid_date_search()" value="{{form.log_date.value | date:"m/d/Y"}}"> 
						</div>
					</div>
					<div class="clearthis min-32-error min-32" style="min-height: 10px;">
						<div id="search_date_er" class="err" style="color: red;">{{form.log_date.error}}</div>
					</div>
					<div class="min-32">
						<input id = "search_flight_log" class="btn_default_flight_log last_margin" type="submit" value="Search"{% if not list_flight_log %}disabled {% endif %}/>					
						
						<input class="btn_default_flight_log" type="reset" value="Reset" {% if not list_flight_log %}disabled {% endif %}/>					
					</div>
				</div>
				</form>
				
				<table id="history">
					<thead>
						<th style="width:5%"><input name="all_check" style="width: 30%" type="checkbox" /></th> 
						<th style="width:10%">Log Number</th>
						<th style="width:10%">Date</th>
						<th style="width:25%">Customer</th>
						<th style="width:25%">Contract/Charter#</th>
						<th style="width:10%">Model</th>
						<th style="width:10%">A/C#</th>
					</thead>
					<tbody>
						{% for log in list_flight_log %}
							<tr class="{% cycle 'row_odd' 'row_even' %}" >								
								<input class = "log_id" type="hidden" value = "{{ log.id_log }}"/>
								<td class="center_nopadding">
									<input  style="width: 30%" type="checkbox" name = "row_check_{{ log.id_log }}" />
									<input class="log_number" type="hidden" value = "{{ log.log_number }}"/>
								</td>
								<td>{{ log.log_number | stringformat:"06d"}}</td>
								<td>{{ log.log_date | date:"m/d/Y"}}</td>
								<td>{{ log.customer | default_if_none:""}}</td>
								{% if log.contract1charter %}
									<td>{{ log.contract1charter }}</td>
								{% else %}
									<td></td>
								{% endif %}
								<td>{{ log.a1c.model }}</td>
								{% if log.a1c %}
									<td>{{ log.a1c }}</td>
								{% else %}
									<td></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
			
			<div id="pagging_bnt">
				 <div class="pagging">	
				{% if empty_flight_log %}			
				<div class = "errorMessage" style="text-align: center;">
					{{ empty_flight_log }}
				</div>
				{% else %}
					<div class="pagination">
					
					{% if list_flight_log.paginator.page_range|length > 1%}
					{% if list_flight_log.has_previous %}
			            <input class="page first" type="submit" value="Previous" 
						onclick="pagging_function({{ list_flight_log.previous_page_number }}, 1)">
					{% else %}
						<input class="page first first-black" type="submit" value="Previous" style="color: #464646">
			        {% endif %}
			        {% endif %}
			        <span id="pa_of">Page {{ list_flight_log.number }} / {{ list_flight_log.paginator.page_range|length }}</span>
					{% for pg in list_flight_log.paginator.page_range %}
						
						{% if list_flight_log.number == pg %}
						<input class="page active" class="page" type="submit" value="{{pg}}" 
						onclick="pagging_function({{pg}}, 1)">					
						{% else %}
						<input class="page" type="submit" value="{{pg}}" 
						onclick="pagging_function({{pg}}, 1)">					
						{% endif %}
				
					{% endfor%}
					{% if list_flight_log.paginator.page_range|length > 1%}
					{% if list_flight_log.has_next %}
			            <input class="page last" type="submit" value="Next" 
						onclick="pagging_function({{ list_flight_log.next_page_number }}, 1)">	
					{% else %}
						<input class="page last last-black" type="submit" value="Next" style="color: black">
			        {% endif %}
			        {% endif %}
					</div> 
					
				{% endif %}
			</div>
			<div class="min-32">
					
					<input onclick="return val_print_pdf(false,'')" class="btn_default_flight_log" type="button" value="Save as PDF" {% if not list_flight_log %}disabled {% endif %} />
					<input onclick="return val_send_email(false,'')" class="btn_default_flight_log send_email" type="button" value="Email" {% if not list_flight_log %}disabled {% endif %} />				
			</div>
			</div>
			
		</div>		
	</div>
	<div id="send_email" class="login-popup">
		<form method="post" class="" onsubmit="return validate_email_form()" 
			action="/send_email/" id="form_email_popup">
			{% csrf_token %}
        </form>
	</div>
	<div id="id_loading"><!-- Place at bottom of page --></div>
	<script type="text/javascript">set_tabindex_submited()</script>
{% endblock %}