<!-- {% load dajaxice_templatetags %} -->
<!-- {% load static from staticfiles %} -->
<!-- {% dajaxice_js_import %} -->

<div id = "open_dialog" style = "display:none;">Do you want to save edited information? Yes/No</div>
{% if is_edit %}
	<input id = "is_edit" type="hidden" value="{{is_edit}}">	
{% endif %}

{% if is_submitted == True %}
<div class="popup_main clearthis" id = "popup_form">
	<div class="title"><span>Add Flight Leg Details</span></div>
	<div class="close">
		<a class = "id_cancel_popup" class = "close_popup"><img style = "width: 20px; height: 20px;" 
			src="{% static "img/ico_popup_close.png"%}" /></a>
	</div>
	<div class="popup_content">
		<div class="sub_form border_none">
			<div class="clearthis min-32">
				<div class="per33">
					<span>Flight #</span>
					<span class = "submitted_value">{{single_form.order.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>Load Schedule</span>
					{% if single_form.load_schedule.value %}
						<span class = "submitted_value submitted_checkbox">
							<input type="checkbox" checked = "checked" 
							disabled="disabled" style="width: auto;">
						</span>
					{% else %}
						<span class = "submitted_value submitted_checkbox">
							<input type="checkbox" disabled="disabled">
						</span>
					{% endif %} 
				</div>
				<div class="per33">
					<span>Slot Purpose</span>
					<span class = "submitted_value">{{single_form.slot_purpose_id.value|default_if_none:""}}</span>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Fuel</span>
					<span class = "submitted_value">{{single_form.flight_data_fuel.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>From</span>
					<span class = "submitted_value">{{single_form.from_field.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>To</span>
					<span class = "submitted_value">{{single_form.to.value|default_if_none:""}}</span>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Manifest#</span>
					<span class = "submitted_value">{{single_form.manifest_number.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>Passengers</span>
					<span class = "submitted_value">{{single_form.passenger.value|default_if_none:""}}</span>
				</div>		
				<div class="per33">
					<span>Emp By</span>
					<span class = "submitted_value">{{single_form.emp_by.value|default_if_none:""}}</span>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>T/O W</span>
					<span class = "submitted_value">{{single_form.flight_data_tlo_w.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>CG</span>
					<span class = "submitted_value">{{single_form.flight_data_cg.value|default_if_none:""}}</span>	
				</div>
				<div class="per33">
					<span>Range </span>
					<span style="text-align: left;margin-left: 8%;"> 
						{{single_form.flight_data_range_from.value|default_if_none:""}}
					</span>
					<span style="width: 6%;margin-left: -26%;">To </span>
					<span style="margin-left: -17%; width: 10%;"> 
						{{single_form.flight_data_range_to.value|default_if_none:""}}
					</span>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Cargo Weight</span>
					<span class = "submitted_value">{{single_form.flight_data_cargo_weight.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>Fuel Station</span>
					<span class = "submitted_value">{{single_form.flight_data_fuel_station.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>Fuel Amount</span>
					<span class = "submitted_value">{{single_form.flight_data_fuel_amount.value|default_if_none:""}}</span>
				</div>	
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Amount</span>
					<span class = "submitted_value">{{single_form.flight_data_amount.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>Off </span>
					<span style="text-align: left;margin-left: 5%;"> 
						{{single_form.off.value|default_if_none:""}}
					</span>
					<span style="width: 6%;margin-left: -26%;">On </span>
					<span style="margin-left: -16%; width: 10%;"> 
						{{single_form.on.value|default_if_none:""}}
					</span>
				</div>
				<div class="per33">
					<span>Flight Time</span>
					<span class = "submitted_value">{{single_form.flight_time.value|default_if_none:""}}</span>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Fuel at Wheels Down</span>
					<span class = "submitted_value">{{single_form.fuel_wheels_down.value|default_if_none:""}}</span>
				</div>
				<div class="per33">
					<span>ALL VFR</span>
					{% if single_form.all_nfr.value %}
						<span class = "submitted_value submitted_checkbox">
							<input type="checkbox" checked = "checked" disabled="disabled">
						</span>
					{% else %}
						<span class = "submitted_value submitted_checkbox">
							<input type="checkbox" disabled="disabled">
						</span>
					{% endif %} 
				</div>
				<div class="per33">
					<span>All IFR</span>
					{% if single_form.all_ifr.value %}
						<span class = "submitted_value submitted_checkbox">
							<input type="checkbox" checked = "checked" disabled="disabled">
						</span>
					{% else %}
						<span class = "submitted_value submitted_checkbox">
							<input type="checkbox" disabled="disabled">
						</span>
					{% endif %} 
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Partial VFR</span>
					<span class = "submitted_value">
						{% if single_form.partial_nfr.value > -1%}
							{{single_form.partial_nfr.value}}
						{% endif %}
						
					</span>
				</div>
				<div class="per33">
					<span>Block Time</span>
					<span class = "submitted_value">
						{{single_form.flight_data_block_time.value|default_if_none:""}}
					</span>
				</div>
				<div class="per33">
					<span>Patients</span>
					<span class = "submitted_value">
						{{single_form.flight_data_patient.value|default_if_none:""}}
					</span>
				</div>
			</div>
		<div class="sub_form border_none" style="margin-right: 0;">
		<div class="min-32">
			<input class="btn_default_flight_log btn_close close_popup" type="button" value="Return" />
		</div>
	</div>
	</div>	
</div>
{% else %}
<div class="popup_main clearthis">
	<div class="title"><span>Add Flight Leg Details</span></div>
	<div class="close">
		<a class = "id_cancel_popup" class = "close_popup"><img style = "width: 20px; height: 20px;" 
			src="{% static "img/ico_popup_close.png"%}" /></a>
	</div>
	<div class="popup_content">
		<div class="sub_form border_none">
			<div class="clearthis min-32">
				<div class="per33">
					<span>Flight #</span>
					<span class = "label_auto" style = "margin-top: 0%;">{{single_form.order}}</span>
				</div>
				<div class="per33">
					<span class = "check_box">Load Schedule</span>
					{{single_form.load_schedule}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.load_schedule.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>Slot Purpose<span class = "star">*</span></span>
					{{single_form.slot_purpose_id}}
					<div class = "error_id_mess" id = "error_id_slot_purpose_id" 
						style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.slot_purpose_id.errors}}	
					</div>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Fuel</span>
					{{single_form.flight_data_fuel}}
					<div class = "error_id_mess" id = "error_id_flight_data_fuel" 
						style = "color:red; display:inline; font-size: smaller;">
						{{single_form.flight_data_fuel.errors}}	
					</div>	
				</div>
				<div class="per33">
					<span>From<span class = "star">*</span></span>
					{{single_form.from_field}}
					<div class = "error_id_mess" id = "error_id_from_field" 
						style = "color:red; display:inline; font-size: smaller;
						margin: 0% 5% 0% 0%;">
						{{single_form.from_field.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>To<span class = "star">*</span></span>
					{{single_form.to}}
					<div class = "error_id_mess" id = "error_id_to"
					 style = "color:red; display:inline; font-size: smaller;
					 		margin: 0% 5% 0% 0%;">
						{{single_form.to.errors}}	
					</div>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Manifest#</span>
					{{single_form.manifest_number}}
					<div class = "error_id_mess" id = "error_id_manifest_number" 
					style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.manifest_number.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>Passengers<span class = "star">*</span></span>
					{{single_form.passenger}}
					<div class = "error_id_mess" id = "error_id_passenger" 
					style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.passenger.errors}}
					</div>
				</div>		
				<div class="per33">
					<span>Emp By</span>
					{{single_form.emp_by}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.emp_by.errors}}	
					</div>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>T/O W<span class = "star">*</span></span>
					{{single_form.flight_data_tlo_w}}
					<div class = "error_id_mess" id = "error_id_flight_data_tlo_w" 
						style = "color:red; display:inline; font-size: smaller;
								margin: 0% 20% 0% 0%">
						{{single_form.flight_data_tlo_w.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>CG<span class = "star" style="display: inline;">*</span></span>
					{{single_form.flight_data_cg}}		
					<div class="error_id_mess" id="error_id_flight_data_cg" 
						style="color:red; display:none; font-size: smaller;
						margin: 0% 5% 0% 0%;">
						<ul class="errorlist">
						<li>CG is required.</li>
						</ul>
					</div>			
				</div>
				<div class="per33">
					<span>Range<span class = "star" style="display: inline;">*</span></span>
						{{single_form.flight_data_range_from}}
					<span style="width: 10%;">To<span class = "star" style="display: inline;">*</span></span>
						{{single_form.flight_data_range_to}}
					<div class = "error_id_mess" id = "range_to_error_id" 
						style = "color:red; float: left; 
						padding-left: 43% !important;
						display:none; font-size: smaller;">
						"RANGE and TO" is required.
					</div>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Cargo Weight</span>
						{{single_form.flight_data_cargo_weight}}
					<div class = "error_id_mess" id = "error_id_flight_data_cargo_weight" style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.flight_data_cargo_weight.errors}}	
					</div>
				</div>
				<div class="per33">
					<input type="hidden" id = "before_fuel_location" value = "{{single_form.flight_data_fuel_station.value|default_if_none:""}}">
					<span>Fuel Station</span>
						{{ single_form.flight_data_fuel_station }}
					
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;margin: 0% 5% 0% 0%;">
						{{single_form.flight_data_fuel_station.errors}}	
					</div>	
				</div>
				<div class="per33">
					<span>Fuel Amount</span>
					{{single_form.flight_data_fuel_amount}}
					<div class = "error_id_mess" id = "error_id_flight_data_fuel_amount"  style = "color:red; display:inline; font-size: smaller; margin: 0% 5% 0% 0%;">
						{{single_form.flight_data_fuel_amount.errors}}	
					</div>	
				</div>	
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Amount</span>
					{{single_form.flight_data_amount}}
					<div class = "error_id_mess" id = "error_id_flight_data_amount"  style = "color:red; display:inline; font-size: smaller; margin: 0% 5% 0% 0%;">
						{{single_form.flight_data_amount.errors}}	
					</div>
				</div>
				<div class="per33">
					<div style="position: relative;
								width: 35%;
								float: left;
								clear: both;
								margin: 0% 0% 0% 27%;">
						<div id = "div_off_lable" style="position: absolute;
									width: 50%;
									float: left;
									margin: 4% 0% 0% -12%;">Off<span style="color: red !important;">*</span></div>
						<div style="position: absolute;
									width: 58%;
									float: left;
									margin: 0% 0% 0% 43%;">{{single_form.off}}</div>
					</div>
					<div style="position: relative;
								width: 50%;
								float: right;
								clear: both;
								margin: 0% 0% 0% 27%;">
						<div id = "div_on_lable" style="position: absolute;
									float: left;
									margin: 4% 0% 0% 36%;">On<span style="color: red !important;">*</span></div>
						<div id = "div_on" style="position: absolute;
									width: 76%;
									float: left;
									margin: 0% 0% 0% 51%;">{{single_form.on}}</div>
					</div>
				</div>
				<div class="per33">
					<span>Flight Time</span>
					{{single_form.flight_time}}
				</div>
			</div>
			<div class="clearthis min-32" id = "on_off_error_mess_div" 
				style="min-height:12px; display:none;">
				<div class="per33"></div>
				<div class="per33">
					<div id = "on_off_error_mess_div" 
						class = "error_id_mess"
						style = "position: absolute;
									color: red;
									display:block;
									margin: -1% 0% 0% 13.9%;
									font-size: smaller;">
						"OFF and On" is required.
					</div> 
				</div>
				<div class="per33"></div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Fuel at Wheels Down<span class = "star">*</span></span>
					{{single_form.fuel_wheels_down}}
					<div class = "error_id_mess" id = "error_id_fuel_wheels_down"  
					style = "color:red; display:inline; font-size: smaller;
								margin: 0% 5% 0% 0%;">
						{{single_form.fuel_wheels_down.errors}}	
					</div>
				</div>
				<div class="per33">
					<span class = "check_box">ALL VFR</span>
					{{single_form.all_nfr}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;">
						{{single_form.all_nfr.errors}}	
					</div>
					<span class = "check_box" style="margin-left: 12%; width: 12%;">All IFR</span>
					{{single_form.all_ifr}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;">
						{{single_form.all_ifr.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>Partial VFR</span>
					{{single_form.partial_nfr}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;">
						{{single_form.partial_nfr.errors}}	
					</div>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Day<span class = "star">*</span></span>
					{{single_form.day}}
					<div class = "error_id_mess" id = "error_id_day"  
					style = "color:red; display:inline; font-size: smaller;
								margin: 0% 5% 0% 0%;">
						{{single_form.day.errors}}	
					</div>
				</div>
				<div class="per33">
					<span class = "check_box">Night<span class = "star">*</span></span>
					{{single_form.night}}
					<div class = "error_id_mess" id = "error_id_night"  
					style = "color:red; display:inline; font-size: smaller;
								margin: 0% 5% 0% 0%;">
						{{single_form.night.errors}}	
					</div>
				</div>
				<div class="per33">
					<span class = "check_box">Pilot NVG</span>
					{{single_form.pilot_nvg}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;">
						{{single_form.pilot_nvg.errors}}	
					</div>
				</div>
			</div>
			<div class="clearthis min-32">
				<div class="per33">
					<span>Co-Pilot NVG</span>
					{{single_form.co_pilot_nvg}}
					<div class = "error_id_mess" style = "color:red; display:inline; font-size: smaller;">
						{{single_form.co_pilot_nvg.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>Block Time</span>
					{{single_form.flight_data_block_time}}
					<div class = "error_id_mess" id = "error_id_flight_data_block_time" 
						style = "color:red; display:inline; font-size: smaller;">
						{{single_form.flight_data_block_time.errors}}	
					</div>
				</div>
				<div class="per33">
					<span>Patients</span>
					{{single_form.flight_data_patient}}
					<div class = "error_id_mess" id = "error_id_flight_data_patient" 
						style = "color:red; display:inline; font-size: smaller;">
						{{single_form.flight_data_patient.errors}}	
					</div>
				</div>
			</div>
		<div class="sub_form border_none" style="margin-right: 0; ">
			<div class="min-32" style = "margin: 0% 1% 0% 0%;">
				{% if not single_form.flight_data_tlo_w.value %}
					<input id="save_flight_log" type="button" class="submit button btn_default_flight_log last_margin" value = "Add"/>
				{% else %}
					<input id="save_flight_log" type="button" class="submit button btn_default_flight_log last_margin" value = "Update"/>
				{% endif %}
				<input class="btn_default_flight_log" id = "popup_reset" type="reset" value="Reset" />
				<input class="btn_default_flight_log btn_close id_cancel_popup" type="button" value="Cancel" />
			</div>
		</div>
	</div>	
</div>
<script type="text/javascript">

	$("#id_flight_data_range_from, #id_flight_data_range_to,\
			#id_manifest_number, #id_flight_data_tlo_w,\
			#id_flight_data_cargo_weight, #id_fuel_wheels_down,\
			#id_flight_data_cg, #id_flight_data_block_time,\
			#id_flight_data_fuel_amount, #id_flight_data_patient, #id_co_pilot_nvg,\
			#id_pilot_nvg, #id_night, #id_day").attr("maxlength","9");
	
	$("#id_flight_data_fuel_station").attr("maxlength","255");
	
	$("#id_flight_data_range_from, #id_flight_data_range_to,\
			#id_manifest_number, #id_flight_data_tlo_w,\
			#id_flight_data_cargo_weight, #id_fuel_wheels_down,\
			#id_flight_data_cg, #id_flight_data_block_time,\
			#id_flight_data_fuel_amount, #id_flight_data_patient,\
			#id_flight_data_patient, #id_co_pilot_nvg,\
			#id_pilot_nvg, #id_night, #id_day").keypress(function (e){
		var charCode = (e.which) ? e.which : e.keyCode;
		if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
		  return false;
		}
	});
	
	$("input").attr("border","1px solid red");
	if($("#id_all_nfr").is(":checked")){
		$("#id_all_ifr").attr("disabled","disabled");
		$("#id_partial_nfr").attr("disabled","disabled");
	}
	
	if($("#id_all_ifr").is(":checked")){
		$("#id_all_nfr").attr("disabled","disabled");
		$("#id_partial_nfr").attr("disabled","disabled");
	}
	
	
</script>
<style>
    /* General styles for smart auto complete*/
    div.form-container input:focus,
    div.form-container input.error:focus, 
    div.form-container textarea:focus {	background-color: #FFC; border-color: black; }
    ul.smart_autocomplete_container li {list-style: none; cursor: pointer;}
</style>

{% endif %}